useDynLib(ARIeeg, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(eeguana,sample_int)
importFrom(data.table,setnames)
importFrom(data.table,setcolorder)
importFrom(data.table,setattr)
importFrom(data.table,setkey)
importFrom(data.table,data.table)
importFrom(dplyr,tibble)
importFrom(eeguana,eeg_lst)
importFrom(eeguana,channel_dbl)
importFrom(eeguana,is_eeg_lst)
importFrom(eeguana,channels_tbl)
importFrom(eeguana,signal_tbl)
importFrom(eeguana,events_tbl)
importFrom(eeguana,segments_tbl)
importFrom(dplyr,select)
importFrom(eeguana,eeg_segment)
importFrom(ggplot2,ggplot)
importFrom(tidyr,nest)
importFrom(purrr,map)
importFrom("hommel", "discoveries")
importFrom("grDevices", "dev.off", "png", "rainbow")
importFrom("graphics", "legend", "lines", "plot")
importFrom(ARIpermutation,dI, lambdaOpt, cv)
importFrom(permuco4brain, brainperm, position_to_graph)
exportPattern("^[[:alpha:]]+")
